*.VC.db
*.dll
*.exe
*.ipch
*.user

# PreCompiled Header，就是预先编译好的头文件，在编译时指定/Yu开关时编译器自动生成
*.pch	
	
*.sdf
*.ncb
*.tlog
*.iobj

# Program DataBase，即程序数据库文件，用来记录调试信息
*.pdb
		
*.ipdb
*.idb
*.exp
*.log
*.recipe
*.lib
*.obj

# 用户界面的自定义配置文件
*.suo	
	
# 也是用户界面的自定义配置文件
*.vcxproj.user	

*.vc.db
*.ncb
*.xlsx
*.cache

# 编译器生成的浏览信息文件，在代码导航的时候非常有用
*.sbr	

# class diagram, 类图；	 
*.cd	
 
*.xlsx
*.pdf
*.doc
*.docx

*.ilk
Makefile

# 忽略的文件夹
x64/
x86/
Debug/
Release/
Bin_Debug/
Win32_Debug/
CppStudy/DSAtest/buildOSX
CppStudy/DSAtest/buildx64
.vs/